*
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    user-select: none;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #f8f8f8;*/
}
.inputBox
{
    position: absolute;
    width: 450px; 
}
.inputBox.h2
{
    font-size: 28px;
    color: #333;
}
.inputBox input
{
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    box-shadow: -4px -4px 10px rgba(255,255,255,1),
                inset 4px 4px 10px rgba(0,0,0,0.05),
                inset -4px -4px 10px rgba(255,255,255,1),
                4px 4px 10px rgba(0,0,0,0.05);
}
.inputBox input::placeholder
{
    letter-spacing: 0px;
}
.inputBox #btn
{
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}
.inputBox #btn:active
{
    background-color: #049f61;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.inputBox #btn
{
    background: #56a591;
}

#password{
    border: solid lightgray 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: #666666 4px 4px 0 0;
}

#password:hover{
    cursor: pointer;
    border: lightblue 4px solid;

}

.hidden{
    display: none;
    visibility: hidden;
}

#copiedSuccess{
    background-color: #07ca42;
    color:white;
    font-family: "Helvetica Neue", sans-serif;
    padding-bottom: 4px;
   /*px padding-top: 20px;*/
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

  .message {
    background-color: white;
    width: calc(100% - 3em);
    max-width: 24em;
    padding: 1em 1em 1em 1.5em;
    border-left-width: 6px;
    border-left-style: solid;
    border-radius: 3px;
    position: relative;
    line-height: 1.5;
    
    p {
      margin: 0 0 1em;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .message--error {
    border-left-color: red;
    
    &:before {
      background-color: red;
      content: "‼";
    }
  }
  
  .message--warning {
    border-left-color: darkorange;
    
    &:before {
      background-color: darkorange;
      content: "!";
    }
  }
  
  .message--success {
    border-left-color: #000000;
    
    &:before {
      background-color: #000000;
      content: "✔";
    }
  }
  
  html {
      box-sizing: border-box;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
  
  html {
    height: 100%;
  }
  
  body {
    background-color: #fff;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


/* Copy */
.brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
}

/* .brands__item {
    background: white;
    position: center;
} */

.brands__item img {
    display: block;
    /* Make sure max-width is added */
    max-width: 100%;
    padding-left: 20px;
    padding-top: 13px;
    width: 100%;
    height: 210px;
    margin-left: 40%;
}

ul{
    list-style: none;
    top: -40px;
    position: relative;
}




 



